.Planner {
  position: relative;

  border-radius: 10px;
  padding: 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2%;
  width: 45%;
  text-align: left;
  .PlannerInput {
    padding-left: 5px;
    width: 40%;
    height: 60%;
    color: var(--primary);
    background-color: var(--white);
    font-size: 1.2em;
    border: 1px solid var(--primary);
    border-radius: 3px;
    cursor: pointer;
  }
  .plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--white);
    background-color: var(--primary);
    border: 2px solid var(--primaryDark);
    cursor: pointer;
    height: 60%;

    &:hover {
      background-color: var(--primaryDark);
    }
  }
  .trashIcon {
    cursor: pointer;
    &:hover {
      color: var(--white);
      background-color: var(--primary);
    }
  }
  .icon {
    border-radius: 15px;
    cursor: pointer;
    &:hover {
      color: var(--white);
      background-color: var(--primary);
    }
    .clockIcon {
      color: var(--white);
      cursor: pointer;
    }
  }
  .currentItineraryList {
    flex: 1;
    color: var(--primary);
    font-size: larger;
    overflow-y: auto;
  }
  .mealEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 6%;
    color: var(--primaryDark);
    font-size: x-large;
    font-weight: bold;
  }
  .tooltip {
    border-radius: 30px;
    width: 40px;
    height: 30px;
    transition: 0.2s;
    &:hover {
      transition: 0.2s;
      background-color: var(--primary);
      color: var(--white);
    }
  }
  .dateAndTitle {
    color: var(--primary);
    font-size: 1.8rem;
  }
}
