.TopBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 10%;
  width: 100%;
  height: var(--topBarHeight);

  .simpleLogoImage {
    height: 100%;
  }
}
