// /* restaurant.module.scss */

.restaurant-list-text {
  text-align: center;
}

.parent-div {
  overflow: hidden;
}


.restaurant-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2px;
  max-height: 550px; /* Set a fixed height for the container */
  overflow-y: auto; /* Add a vertical scrollbar when needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;

  /* Add these styles to control grid overflow */
  width: 100%; /* Ensure the grid takes up the entire width of its container */
  max-width: 100%; /* Make sure it doesn't exceed the container width */
}

form {
  width: 80%;
  min-width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0; /* Background color for the form */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for the form */
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  width: 20%;
  min-width: 80px;
  padding: 10px;
  background-color: #345F7C; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

button[type="submit"]:hover {
  background-color: #224053; /* Hover background color */
}

.restaurant-card {
  display: flex;
}
