.dropdown {
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
  padding: 2px 5px 2px 5px;
  font-weight: bold;
  cursor: pointer;
}
.option {
  cursor: pointer;
}
