@keyframes radiate {
  from {
    opacity: 0.8;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

.themeButton {
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
  border: 2px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 15px;
  transition: all 0.1s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  /* Hover effect */
  &:hover {
    background-color: var(--white);
    color: var(--primary);
    border-color: var(--primary);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }

  /* Active effect (when the button is clicked) */
  &:active {
    transform: scale(0.95); /* Slight scale to give a button pressed effect */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Reduce shadow to give depth effect */
  }

  /* Focus effect for accessibility */
  &:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
