:root {
  --white: #fff7ec;
  --primary: #335f7c;
  --primaryDark: #224053;

  --fadeTime: 0.4s;

  --focusedHeight: 85%;
  --topBarHeight: calc((100% - var(--focusedHeight)) * (2 / 3));
  --bottomBarHeight: calc((100% - var(--focusedHeight)) * (1 / 3));
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: overlay;
  height: 100vh;
  background: var(--primary);

  font-family: "Nunito", sans-serif;

  .focusedContent {
    background-color: var(--white);
    border: 1px solid gray;
    width: 98%;
    height: var(--focusedHeight);
    transition: all 0.4s ease-in-out;
    border-radius: 5px;

    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.1),
      0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryDark);
}
