:root {
  --white: #fff;
  --primary: #b8d1ff;

  --focusedHeight: 87%;
  --topBarHeight: calc((100% - var(--focusedHeight)) / 2);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: overlay;
  height: 100vh;
  background-color: var(--primary);
  font-family: "Roboto", sans-serif;

  .focusedContent {
    background-color: var(--white);
    border: 1px solid gray;
    border-radius: 6px;
    width: 97%;
    height: var(--focusedHeight);
    transition: all 0.4s ease-in-out;

    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.1),
      0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
